
p
{
	color: red;
}
table
{
        border-collapse: collapse;
	caption-side: bottom; 
}
td, th
{
        border: 1px solid black;
}
header
{
	text-align: center;
        margin-top: 0px;
}
body
{
	width 70%;
	text-align: center;
}
#tableau
{
	width: 70%;
	text-align: center;
}
footer
{
	float: right;	
	margin-down: 0px;
}
