
table
{
        margin:0 auto;
	border-collapse: collapse;
	caption-side: bottom; 
}
#container
{
        width 70%;
        text-align: center;
}
td, th
{
        border: 1px solid black;
}
header
{
	text-align: center;
        margin-top: 0px;
}

#reponse
{
	font-size: 30px;
	margin-left: 150px;
	text-align: left;
	color: blue;
}


#tableau
{
	width: 70%;
	text-align: center;
}
footer
{
	float: right;	
	margin-down: 0px;
}
